.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table {
    justify-content: center;
    font-size: 1.3em;
}

td {
    padding: 0.5em;
}

.container p{
    text-align: center;
    font-family: 'Bungee', cursive;
    font-size: 2.5em;
    transform: translateY(30px);
    animation-name: move;
    animation-duration: 500ms;
}

@keyframes move {
    0% {opacity: 0; transform: translateY(-30px);}
    100% {opacity: 1; transform: translateY(30px);}
}
